@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.woff?7vrsx') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="iconm-"], 
[class*=" iconm-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconm-facebook:before {
  content: "\ea90";
}
.iconm-instagram:before {
  content: "\ea92";
}
.iconm-twitter:before {
  content: "\ea96";
}
.iconm-youtube:before {
  content: "\ea9d";
}
.iconm-linkedin2:before {
  content: "\eaca";
}
